contactsDatabase/META-INF/ContactsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ContactsDefinitions" targetNamespace="urn:Contacts" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:contacts="urn:Contacts" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:Contacts" xmlns="http://www.w3.org/2001/XMLSchema">
	
	<complexType name="contactDetail">
		<sequence>
			<element name="lastname" type="xsd:string"/>
			<element name="firstname" type="xsd:string"/>
			<element name="street" type="xsd:string"/>
			<element name="city" type="xsd:string"/>
			<element name="postcode" type="xsd:string"/>
			<element name="telephoneNumber" type="xsd:int"/>
		</sequence>
	</complexType>
	
	<complexType name="contactDetails">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="contactlist" type="contacts:contactDetail"/>
		</sequence>
	</complexType>
	

	 <element name="number" type="xsd:int"/>
	 <element name="name" type="xsd:string"/>
	 <element name="contact" type="contacts:contactDetail"/>
	 <element name="contactGroup" type="contacts:contactDetails"/>
	 <element name="error" type="xsd:string"/>
	 
	 </schema>
  </types>
  <message name="errorFault">
    <part name="errorMessage" element="contacts:error">
    </part>
  </message>
  <message name="numberResponse">
    <part name="response" element="contacts:contactGroup">
    </part>
  </message>
  <message name="nameResponse">
    <part name="response" element="contacts:contactGroup">
    </part>
  </message>
  <message name="nameRequest">
    <part name="request" element="contacts:name">
    </part>
  </message>
  <message name="numberRequest">
    <part name="request" element="contacts:number">
    </part>
  </message>
  <portType name="contactPort">
    <operation name="getName">
      <input message="contacts:nameRequest">
    </input>
      <output message="contacts:nameResponse">
    </output>
      <fault name="error" message="contacts:errorFault">
    </fault>
    </operation>
    <operation name="getNumber">
      <input message="contacts:numberRequest">
    </input>
      <output message="contacts:numberResponse">
    </output>
      <fault name="error" message="contacts:errorFault">
    </fault>
    </operation>
  </portType>
  <binding name="contactBinding" type="contacts:contactPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contacts"/>
      </input>
      <output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contacts"/>
      </output>
      <fault name="error">
    <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contacts" use="literal"/>
      </fault>
    </operation>
    <operation name="getNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contacts"/>
      </input>
      <output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contacts"/>
      </output>
      <fault name="error">
    <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contacts" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ContactsService">
    <port name="ContactsLoan" binding="contacts:contactBinding">
      <soap:address location="http://127.0.0.1:8080/axis2/services/ContactsService"/>
    </port>
  </service>
</definitions>
